<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
        <div class="navbar-item search hide-for-print">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
    </div>
  </nav>
</header>
